.social-cause {
    background: #000000;
    color: #717171;
    height: 100vh;
    padding: 15vh 2vw 12vh 2vw;
    width: 92vw;
}

.social-cause-title {
    color: #ffffff;
    font-size: 4vw;
    font-weight: 300;
    padding-bottom: 4vh;
}

.social-cause-description {
    display: flex;
    gap: 10vh;
}

.social-cause-description-text {
    font-size: 1vw;
    width: 60%;
}

.social-cause-description-img-cont {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 40%;
}

.social-cause-description-img {
    height: 70%;
    width: 70%;
}

@media screen and (max-width: 992px) {
    .social-cause {
        height: auto;
        padding: 15vh 2vh 8vh 2vh;
        width: 100vw;
    }

    .social-cause-title {
        font-size: 4vh;
        padding-bottom: 1vh;
    }

    .social-cause-description {
        flex-direction: column;
        gap: 5vh;
    }

    .social-cause-description-text {
        font-size: 1.5vh;
        width: 100%;
    }

    .social-cause-description-img-cont {
        width: 100%;
    }
}













