.workshops {
    background: #000000;
    color: #717171;
    height: 100vh;
    padding: 15vh 2vw 12vh 2vw;
    width: 92vw;
}

.workshop-title {
    color: #ffffff;
    font-size: 4vw;
    font-weight: 300;
}

.workshop-description {
    font-size: 1vw;
}

@media screen and (max-width: 992px) {
    .workshops {
        padding: 15vh 5vw 12vh 5vw;
        width: 100vw;
    }

    .workshop-title {
        font-size: 4vh;
        padding-bottom: 1vh;
    }

    .workshop-description {
        font-size: 1.5vh;
    }
}

