.accommodation {
    background-color: #000000;
    color: #717171;
    font-size: 1vw;
    height: auto;
    padding: 15vh 2vw 2vh 2vw;
    position: relative;
    width: 92vw;
}

.accommodation-title {
    color: #ffffff;
    font-size: 4vw;
    font-weight: 300;
    width: 100%;
}

.general-info-title {
    color: #ffffff;
    font-size: 3vw;
    font-weight: 300;
    padding-top: 4vh;
}

.general-info-desc {
    display: flex;
    flex-direction: column;
}

.general-info-desc-subtitle {
    color: #ffffff;
    font-size: 1.6vw;
    font-weight: 300;
}

.general-info-desc p {
    font-weight: 400;
    padding-bottom: 2.5vh;
    padding-top: 0.5vh;
}

.map {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.faq-title {
    color: #ffffff;
    font-size: 3vw;
    font-weight: 300;
    padding-bottom: 2.5vh;
    padding-top: 4vh;
}

.faq-cont {
    border-top: 0.1vh solid #676767;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: auto;
    padding: 6vh 2vh;
    width: 100%;
}


.faq-top {
    color: #ffffff;
    display: flex;
    gap: 1%;
}

.faq-answer {
    display: flex;
    flex-direction: column;
    gap: 1%;
}


@media screen and (max-width: 992px) {
    .accommodation {
        font-size: 1.5vh;
        padding: 15vh 2vh 0 2vh;
        width: 100vw;
    }

    .accommodation-title {
        font-size: 4vh;
    }

    .general-info-title {
        font-size: 3vh;
    }

    .general-info-desc-subtitle {
        font-size: 1.8vh;
        padding-top: 2vh;
    }

    .general-info-desc p {
        padding-top: 0.6vh;
    }

    .faq-title {
        font-size: 3vh;
    }

    .faq-cont {
        gap: 1.4vh;
        padding: 3vh 0;
    }
}
















